blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}
html, * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.mydiv {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
	max-width: 380px;
    margin-top: 10px;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
}
#scoreboard {
	font-size: 22px;
	font-weight: bold;
    /* margin-top: 23px; */
}
.game-board {
    max-width: 350px;
    max-height: 350px;
    height: 40vw;
    width: 40vw;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin-right: auto;
    margin-left: auto;
}
.square {
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 5vmin;
    border: 3px solid rgb(97, 89, 89);
	transition: .3s;
}
.right-border {
	border-right: 0;
}
.bottom-border {
	border-bottom: 0;
}
.t-letter {
    background-color: rgb(14, 187, 172);
	color: white;
	font-size: 10vmin;
	text-shadow: 3px 3px 7px rgb(44, 38, 38);
}

.play {
	text-align: center;
    background-color: #3273dc;
    border-color: transparent;
    color:white;
    border-radius: 6px;
    border: none;
    padding: 12px;
    letter-spacing: 1.6px;
    font-weight: 600;
    width: 80%;
    margin-left: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.play:hover {
	color: white;
	background-color: #407bdb;
}

.button {
    font-size: 14px;
    cursor: pointer;
}
.optionBtn {
    border-radius: 6px;
    border: none;
    outline: none;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* width: 10vw; */
}
.x-selected {
    background-color: rgb(8, 170, 156);
    color: white;
    font-weight: bold;
    border: none;
}
.optionBtn:hover {
    background-color: rgb(107, 230, 219);
    color: black;
}
.buttons {
    margin-left: 65px;
    margin-bottom: 10px;
}
.player-div {
    float: left;
    margin: 0 auto;
    margin-left: 54px;
    margin-right: 74px;
}
.game-element {
	align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
}
#computer-scores, #player-scores {
    text-align: center;
    color: #0c97c2;
    font-size: 26px;
}
#start {
    padding-top: 13px;
}
.mydiv p {
    text-align: center;
}
@media (min-width: 0px) and (max-width: 599px) {
    .play {
        width: 65%;
    }
    #scoreboard{
        margin-left: 90px;
        /* margin-right: 3px; */
    }
    .buttons {
        margin-left: 0px; 
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .buttons {
        margin-left: 35px; 
    }
}
